<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/history">
                            Past Transactions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/friends">
                            Friends
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Invite Friends
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1>Friends Manager</h1>
            </div>

             <div class="card" >
                    <div class="card-body">
                        <p>
                        <h2>Add Friend:</h2>
                        </p>
                        <p><button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                                data-target="#addFriend" aria-expanded="false" aria-controls="addFriend">
                                Add friend
                            </button></p>
                        <div id="addFriend" class="collapse">
                            <form action="/addfriend" method="POST" name="addfriendform">
                                <div class="md-form form-group">
                                    <p><input type="email" class="form-control-sm" name="email"
                                            placeholder="Enter email"></p>
                                    <p><button class="btn btn-sm btn-outline-secondary" type="submit">Submit</button>
                                    </p>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <p>
            <div class="card">
                <div class="card-body">
                    <p>
                    <h2>Friends</h2>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Send</th>
                            </tr>
                        </thead>
                        {{#each friends}}
                        <tbody>
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>
                                    <p><button class="btn btn-sm btn-outline-secondary" type="button"
                                            data-toggle="modal" data-target="#sendMoney">Send</button></p>
                                </td>
                            </tr>
                        </tbody>


                    </table>
                    <div class="modal fade" id="sendMoney" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Send Money</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/pay" method="POST">
                                        <div class="md-form form-group w-25">
                                            <p><input type="text" class="form-control-sm" name="payee"
                                                    placeholder="{{this.email}}"></p>
                                            <p><input type="number" step="0.01" class="form-control-sm" name="amount"
                                                    placeholder="Enter amount"></p>

                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </p>
    {{/each}}
    </main>
</div>
</div>

<script>

const submit = document.getElementById("submit");

const getFormData = () => {
  const form = document.getElementById("addfriendform");
  return new FormData(form);
}
const toJson = function(event) {
    const formData = getFormData()
    event.preventDefault()
    let json = JSON.stringify(Object.fromEntries(formData));
    return json
}

submit.addEventListener("click", toJson);
</script>
