<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/history">
                            Past Transactions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/friends">
                            Friends
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/invite">
                            Invite Friends
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1>Transaction History</h1>
            </div>
                <p>
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            {{#each history}}
                            <tbody>
                                <tr>
                                    <td>{{this.createdAt}}</td>
                                    <td>{{this.from}}</td>
                                    <td>{{this.to}}</td>
                                    <td>{{this.amount}}</td>
                                </tr>
                            </tbody>
                            {{/each}}

<<<<<<< HEAD
                        </table>
                    </div>
                </div>
            </div>
            </p>
    </main>
</div>
=======
            </table>
        </div>
    </div>
>>>>>>> 9e546cb493a5837da917c33b3d64aa8acb591f25
</div>
