<div
    class="d-flex justify-content-center">
    <h5>User is not on the app. Invite them?</h1>
</div>
<div class="d-flex justify-content-center">
    <div class="card " style="width: 40rem;">
        <div class="card-body align-items-center d-flex justify-content-center">
            <form action='/invite' method="POST">
                <label> Email: </label>
                <input name="email" type="email" placeholder="Enter email" required><br>
                <button class="btn btn-sm btn-outline-secondary" type="submit"> Submit </button>
            </form>
        </div>
    </div>
</div>