<div
    class="container">
    <h5>User is not on the app. Invite them?</h1>
</div>
<div class="container">
    <div class="card" style="width: 70rem;">
        <div class="card-body">
            <form action='/invite' method="POST">
                <label> Email: </label>
                <input name="email" type="email" placeholder="Enter email" required><br>
                <button class="btn btn-sm btn-outline-secondary" type="submit"> Submit </button>
            </form>
        </div>
    </div>
</div>